@import "../../styles/variables";

.DrinkModal {
  border-radius: 10px;
  border-top-left-radius: 100px;

  width: 60%;
  // height: 400px;
  background-color: $base-colour;
  position: fixed;
  top: 200px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;

  // top: 50%;
  // left: 50%;
  // margin-top: -200px;
  // margin-left: -400px;

  display: flex;
  background-color: $primary-color;
  box-shadow: 0px 10px 34px 9px rgba(0, 0, 0, 0.1);

  .image {
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    min-width: 200px;
    // border-top: 5px solid $primary-color;

    img {
      border-top-left-radius: 100px;
      border-bottom-left-radius: 10px;
      width: 100%;
      height: 98%;
      object-fit: cover;
    }
  }

  .allInfo {
    background-color: $accent-colour;
    // border: 2px solid blue;
    width: 60%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    .info {
      border-top-right-radius: 10px;
      // padding: 30px 0px;
      position: relative;
      width: 100%;
      // padding-left: 30px;
      color: $base-colour;
      background-color: $primary-color;

      .title {
        font-size: 2.5rem;
        padding-left: 30px;
        margin: 0;
        padding: 20px 0 0 30px;
        font-family: $display-font;
      }

      .category {
        font-size: 1.2rem;
        margin: 0;
        padding: 10px 0 20px 30px;
      }

      button {
        //   border: 2px solid pink;
        position: absolute;
        height: 50px;
        width: 50px;
        background-color: transparent;
        border: none;
        color: $base-colour;
        font-size: 1.7rem;
        // width: 20px;
        top: 20px;
        right: 20px;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .ingredients {
      // border: 2px solid white;
      background-color: $accent-colour;
      padding-left: 30px;

      .tagIng {
        background-color: $accent-colour;
        font-size: 1.2rem;
        margin-bottom: 10px;
      }

      .eachIng {
        margin: 3px 0;
      }
    }

    .preparation {
      background-color: $accent-colour;
      padding: 10px 20px 30px 0;
      border-bottom-right-radius: 10px;

      .tagPrep {
        background-color: $accent-colour;
        font-size: 1.2rem;
        padding-left: 30px;
        margin-bottom: 3px;
      }

      .instructions {
        // border: 2px solid white;
        background-color: $accent-colour;
        padding-left: 30px;
        background-color: $accent-colour;
      }
    }
  }
}
