@import "../../styles/variables";

.Popup {
  border-radius: 10px;
  position: fixed;
  top: 70px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 25%;
  z-index: 4;
  background-color: $accent-colour;

  color: $base-colour;

  h3,
  p {
    text-align: center;
    padding: 0 20px;
    line-height: 1;
  }
}
