@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap");

// color palette
$primary-color: #f96160;
$primary-color-light: #ffaaaa;

$base-colour: white;
$accent-colour: #ffb728;
$base-colour-transparent: rgba(252, 252, 252, 0.8);
$text-colour: #2b2828;

// font
$display-font: "Lobster", cursive;
$primary-font: "Oswald", sans-serif;
